:root {
  --white: #fff;
  --white2:#e7f1f1;
  --black: #313131;
  --black2:#464646;
  --grey:#888; 
  --primary:#dbd0cc;
  --mixed: linear-gradient(90deg, #4b9398 , #e7f1f1);
  --blue:#4b9398;
  --blueLight:#0bcece;
  --gold:#e4a23d;
  --blueBtn:#26596d;
  --tittle:24px;
  --text:16px;
  --number:12px;
}

.aside {
    width: 20%;
    height: 100vh;
    position: sticky;
    top: 10px;
    color: var(--black);
  }

  .aside input, select, option {
    cursor: pointer;
  }
  .aside li:hover {
    color: var(--black2);
    font-size: 18px;
  }

  #search{
    width: 80%;
    height: 30px;
    background-color: var(--white2);
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 5px;
  }
  #search:focus {
border:1px solid var(--blue)
  }

  .category { 
    margin-top: 20px;
  }
  .category li {
    color: var(--grey);
    list-style-type: none;
    cursor: pointer;
    padding-top: 8px;
    letter-spacing:1.5px;

  }
  .active-list {
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  .company {
    margin-top: 25px;
  }

  .company select {
    border: none;
    outline: none;
    margin-top: 10px;
  }

  .price {
    margin-top: 25px;
  }
  .price p {
    margin: 10px 0;
  }

  .free-shipping {
    margin-top: 25px;
    display: flex;
  width: 70%;
    justify-content: space-between;
  }

  .clear-filters{
    margin-top: 25px;
  }

  .clear-filters button{
    padding: 5px 10px;
    font-size: 16px;
    border:none;
    outline: none;
    background-color:rgb(170, 12, 12);
    color: var(--white);
    border-radius: 4px;
   cursor: pointer;
    letter-spacing: 1.5px;
  }

  @media (max-width: 768px)  {
    .aside {
      position: relative;
      height: 100%;
      margin: 10px 0 40px 20px;
      width: 40%;
    }
    
   
   }