:root {
  --white: #fff;
  --white2:#e7f1f1;
  --black: #313131;
  --black2:#464646;
  --grey:#888; 
  --primary:#dbd0cc;
  --mixed: linear-gradient(90deg, #4b9398 , #e7f1f1);
  --blue:#4b9398;
  --blueLight:#0bcece;
  --gold:#e4a23d;
  --blueBtn:#26596d;
  --tittle:24px;
  --text:16px;
  --number:12px;
}

.aside {
    width: 20%;
    height: 100vh;
    position: sticky;
    top: 0;
    color: var(--black);
  }

  #search{
    width: 80%;
    height: 30px;
    background-color: var(--white2);
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 5px;
  }
  #search:focus {
border:1px solid var(--blue)
  }

  .category { 
    margin-top: 20px;
  }
  .category li {
    color: var(--grey);
    list-style-type: none;
    cursor: pointer;
    padding-top: 5px;
    letter-spacing:1.5px;

  }
  .active-list {
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  .company {
    margin-top: 20px;
  }

  .company select {
    border: none;
    outline: none;
    margin-top: 5px;
  }

  .price {
    margin-top: 20px;
  }
  .price p {
    margin: 5px 0;
  }
  