.home-main{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.box-container {
    position: absolute;
    top: -50px;
    left: -100px;
}


.box {
    position: relative;
    margin: 1em auto;
    width: 20em;
    height: 34.64em;
    border-radius: 4em/1.6em;
    background: orange;
    animation: rotate 12s infinite;
}

  .box:before,
  .box:after {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: '';
  }
  
  .box:before {
    -webkit-transform: rotate(80deg);
    transform: rotate(60deg);
  }
  
  .box:after {
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }

  @keyframes rotate {
    0%{
        transform: rotate(0deg)
    }
    10%{
        transform: rotate(0deg)
    }
    20%{
        transform: rotate(60deg)
    }
    30%{
        transform: rotate(60deg)
    }
    40%{
        transform: rotate(120deg)
    }
    50%{
        transform: rotate(120deg)
    }
    60%{
        transform: rotate(180deg)
    }
    70%{
        transform: rotate(180deg)
    }
    80%{
        transform: rotate(240deg)
    }
    90%{
        transform: rotate(240deg)
    }
    100%{
        transform: rotate(300deg)
    }
}