:root {
    --white: #fff;
    --white2:#e7f1f1;
    --black: #313131;
    --black2:#464646;
    --grey:#888; 
    --primary:#dbd0cc;
    --mixed: linear-gradient(90deg, #4b9398 , #e7f1f1);
    --blue:#4b9398;
    --blueLight:#0bcece;
    --gold:#e4a23d;
    --blueBtn:#26596d;
    --tittle:24px;
    --text:16px;
    --number:12px;
}

.loading-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.loading-cyrcle{
width: 100px;
height: 100px;
position: relative;
}

.loading-cyrcle::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: red;
    top: 2px;
    left: 2px;
}





