:root {
    --white: #fff;
    --white2:#e7f1f1;
    --black: #313131;
    --black2:#464646;
    --grey:#888; 
    --primary:#dbd0cc;
    --mixed: linear-gradient(90deg, #4b9398 , #e7f1f1);
    --blue:#4b9398;
    --blueLight:#0bcece;
    --gold:#e4a23d;
    --blueBtn:#26596d;
    --tittle:24px;
    --text:16px;
    --number:12px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loading-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.loading {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color:var(--blueLight);
    background: linear-gradient(0deg, transparent 50%, #0bcece);
    animation: rotate 1s linear infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
 .loading::before {
    content:"";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background:#e7f1f1;
    border-radius: 50%;
    z-index: 1;
}


