:root {
  --white: #fff;
  --white2: #e7f1f1;
  --black: #313131;
  --black2: #464646;
  --grey: #888;
  --primary: #dbd0cc;
  --mixed: linear-gradient(90deg, #4b9398, #e7f1f1);
  --blue: #4b9398;
  --blueLight: #0bcece;
  --gold: #e4a23d;
  --blueBtn: #26596d;
  --tittle: 24px;
  --text: 16px;
  --number: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product-page {
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
}


.product-container {
  width: 80%;
}

.product-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  gap: 25px;

}

.product-card {
  background-color: var(--white2);
  border-radius: 4px;
}

.product-card img {
  width: 100% ;
  height: 270px;
  border-radius: 4px;
}

.product-card-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
  
}

.product-card-name {
  font-size: 18px;
  width: 50%;
}

.product-card-price {
  width: 50%;
  font-size: 18px;
}

#price {
  text-align: right;
  color: var(--gold);
}

.product-card-image {
  position: relative;
  width: 100%;
  border-radius: 4px;
  height: 270px;
  cursor: pointer;
}

.product-card-button {
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
  position: absolute;
  border-radius: 4px;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.4);
  cursor: pointer;
}

.product-card-button button {
  color: var(--white);
  background-color: var(--blue);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card-button img {
  width: 25px;
  height: 25px;
}

.product-card-image:hover .product-card-button {
  display: flex;
  justify-content: center;
  align-items: center;
}





.product-top {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
}

.product-left {
  display: flex;
}

.product-icons {
  width: 100px;
}

.product-icons img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  cursor: pointer;
}

.products-found {
  vertical-align: bottom;
  margin-top: 5px;
}



@media (max-width: 930px )and (min-width: 768px)  {
  .product-card{
    width: 550px;
  }
  .product-card-image {
    height: 350px;
  }
  #product-img {
    height: 350px;
  }
}

@media (max-width: 720px)  {
  body{
    margin: 0;
  }
 .product-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-page {
flex-direction: column;
width: 100%;
margin-left: 5px;
}
.product-container{
  width: 100%;
}
.product-card {
  width: 95%;
  margin: 5px;
}
.product-card-image {
  width: 100%;
  height: 350px;
}
#product-img {
  height: 350px;
}
.product-icons  {
  display: none;
}
.product-top {
  width: 98%;
}
}
  
