
  
  .single-product-card {
    display: flex;
  }
  
  .single-product-back {
    margin: 0px 30px;
    padding: 60px 0px 20px 0px;
  }
  
  .single-product-back button {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 10px;
    transition: background-color, color 0.5s ease;
  }
  
  .single-product-back button:hover {
    background-color: var(--blueLight);
    color: var(--white);
  }
  .image-conteiner{
    width: 60%;
    height: 700px;
  }
  
  .single-product-image {
    width: 100%;
    height: 600px
  }
  
  .single-product-image img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
  }
  
  .single-product-text {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    height: 700px;
    margin: 0px 30px;
  }
  
  .single-product-text p {
    color: var(--grey);
  }
  
  #single-price {
    color: var(--gold);
    font-size: 24px;
  }
  
  #single-description {
    line-height: 2em;
  }

  .single-text-left {
    width: 20%;
  }
  .single-left {
    display: flex;
  }
  
  .single-border {
    width: 100%;
    border-bottom: 1px solid var(--grey);
  }
  
  .single-quantity{
    display: flex;
    width:150px;
    justify-content:space-between;
    font-size:24px;
    color: var(--black);
  }
  
  .single-quantity button {
    border:none;
    outline: none;
    background-color:transparent;
    padding: 5px;
  }
  
  .single-quantity h1 {
    cursor: pointer;
    padding: 0px 10px 0px 10px;
  }
  
  .add-to-cart{
    width:150px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color:var(--blue);
    border-radius: 4px;
    color: var(--white);
    cursor: pointer;
    font-size: 16px;
  }

  .single-product-reviews img {
    width: 20px;
  }

 .images-container{
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin-top: 10px;
 }

  #small-image{
    width: 100px;
    border-radius:4px;
  }

  .image-active{
    border:solid 1px red;
  }